@import url('https://fonts.googleapis.com/css?family=Rambla:700');
body {
	background-color: #12C9FF;
	font-family: 'Georgia', serif;
	font-size: 16px;
	line-height: 1.5;
}
header, footer {
	background-color: #06777f;
	color: white;
	border: 1px black solid;
	padding: 20px;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
section {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
img {
	width: 100%;
}
h1 {
	font-family: 'Rambla', sans-serif;
	text-align: center;
	font-size:60px;
}
h2 {
	font-family: 'Rambla', sans-serif;
	text-align: center;
	font-size:50px;	
	line-height: 75px;
}
h3 {
	font-family: 'Rambla', sans-serif;
	text-align: center;
	font-size:30px;	
}
#vehicles {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}
#trucks {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 40%;
}
#vans {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 40%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}