@import url('https://fonts.googleapis.com/css?family=Rambla:700');
header, footer {
	background-color: #06777f;
}
header, footer {
	color: white;
}
body {
	background-color: #12C9FF;
	font-family: 'Georgia', serif;
	font-size: 20px;
	width: 480px;
}
h1 {
	font-family: 'Rambla', sans-serif;
	text-align: center;
	font-size:60px;
}
h2 {
	font-family: 'Rambla', sans-serif;
	text-align: center;
	font-size:50px;	
}
h3 {
	font-family: 'Rambla', sans-serif;
	text-align: center;
	font-size:30px;	
}
h4 {
	font-family: 'Rambla', sans-serif;
	text-align: center;
	font-size:24px;	
}